/* 
*	groups.css
*
*	Styling for the individal parallax groups, either base, back, deep, or foreground.
*
*	Adapted from: http://keithclark.co.uk/articles/pure-css-parallax-websites/
*/

#group1 {
	z-index: 5; /* slide over group 2 */
	width: 100%;
}

#group1 .parallax__layer--base {
	background: url(../img/downtown-normal2.jpg);
	background-size: cover;
	width: 100%;
}

#group2 {
	z-index: 3; /* slide under groups 1 and 3 */
	width: 100%;
}

#group2 .parallax__layer--back {
	margin-left: -18px;
	width: 100%;
}

#group3 {
	z-index: 4; /* slide over group 2 and 4 */
	width: 100%;
}

#group3 .parallax__layer--base {
	background-image: url(http://thumb7.shutterstock.com/display_pic_with_logo/549673/280798679/stock-photo-modern-empty-office-interior-280798679.jpg);
	background-size: cover;
	width: 100%;
}

#group4 {
	z-index: 2; /* slide under group 3 and 5 */
	margin-left: -8px;
}

#group4 .parallax__layer--deep {
	background: rgb(184,223,101);
	width: 100%;
}

#group5 {
	z-index: 3; /* slide over group 4 and 6 */
	width: 100%;
}

#group5 .parallax__layer--base {
	background: rgb(214,229,100);
	width: 100%;
}

#group6 {
	z-index: 2; /* slide under group 5 and 7 */
	width: 100%;
}

#group6 .parallax__layer--back {
	background: rgb(245,235,100);
	width: 100%;
}

#group7 {
	z-index: 3; /* slide over group 7 */
	width: 100%;
}

#group7 .parallax__layer--base {
	background: rgb(255,241,100);
	width: 100%;
}